.container-fluid {
  background-color: rgb(141, 141, 141);
  padding: 0;
  height: 100%;
  margin-right:auto;
  margin-left:auto
}

html, body {
  background-color: rgb(141, 141, 141);
  font-family: 'Average Sans', sans-serif;
}

body {
  font-family: 'Average Sans', sans-serif;
}

.logo {
  font-family: 'Fjalla One', sans-serif;
  color: skyblue;
}

.app-container {
  font-family: 'Average Sans', sans-serif !important;
}

.nameForm {
  width: 80%;
}
