.container-fluid {
  /* background-image: url(../assets/gray-background.jpg); */
  background-color: #e5ab78 ;
  padding: 0;
  height: 100%;
  margin-right:auto;
  margin-left:auto;
  color:  #343a40;
}

html, body {
  /* background-image: url(../assets/gray-background.jpg); */
  background-color: #e5ab78;
  font-family: 'Average Sans', sans-serif;
}

body {
  font-family: 'Average Sans', sans-serif;
}

.logo {
  font-family: 'Fjalla One', sans-serif;
  color: mediumseagreen;
}

.app-container {
  font-family: 'Average Sans', sans-serif !important;
}

.card-title {
  color:  #343a40;
}

.nameForm {
  width: 80%;
}

#footer {
  display: block;
  height: 100px;
}

.nav-link {
  font-family: 'Average Sans', sans-serif;
}

.navbar-text {
  font-family: 'Average Sans', sans-serif;
}

.btn-primary {
  background-color: mediumseagreen !important;
  border-color: mediumseagreen !important;
}