.goalsContainer{
  background-color: rgb(141, 141, 141)
}

.note-goal-data {
  /* border: solid black 5px;
  border-radius: 10px; */
  text-align: center;
  padding: 2%;
}

.pitch-goal-data {
  text-align: center;
  /* border: solid black 5px;
  border-radius: 10px; */
  padding: 2%;
}

.micImg {
  height: 100%;
}

.badge-carousel-item {
 height: 350px;
}

.badge-carousel {
  text-align: center;
  margin-top: 3%;
}

.welcome-back {
  text-align: center;
  margin-top: 1%;
}

.card-title.h5 {
  font-size: 14px;
}

.train-level {
  text-align: left;
  padding: 2%;
}

.badge-img {
  background-color: palegoldenrod;
}

.badge-card-body {
  background-color: palegoldenrod;
}






