.goalsContainer{
  background-color: #f9f9f9;
}

.note-goal-data {
  /* border: solid black 5px;
  border-radius: 10px; */
  text-align: center;
  padding: 1%;
}

.pitch-goal-data {
  text-align: center;
  /* border: solid black 5px;
  border-radius: 10px; */
  padding: 1%;
}

.micImg {
  height: 100%;
}

.badge-carousel-item {
 height: 350px;
}

.badge-carousel {
  text-align: center;
}

.welcome-back {
  text-align: center;
  margin-top: 1%;
}

.card-title.h5 {
  font-size: 14px;
}

.train-level {
  text-align: left;
  padding: 1%;
}

.badge-img {
  background-color: palegoldenrod;
}

.badge-card-body {
  background-color: palegoldenrod;
}

.progress-bar {
  background-color: mediumseagreen !important;
}

.goal-data-container {
  border: 10px solid #343a40 !important;
  /* margin: 10px; */
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #f9f9f9;
}

.carousel-control-next-icon {
  background-color: #343a40 !important;
}

.carousel-control-prev-icon {
  background-color: #343a40 !important;
}






