
.score-div {
  margin-top: 5%;
}

.exercise-button {
  margin-top: 5%;
}

.sidebar-button {
  width: 100%;
  margin-top: 10%;
}

/* .notation-container {
  height: 400px;
} */

/* .abcjs-container {
  height: 400px;
} */

.visual-playing-button {
  margin-top: 5%;
}

.title-container {
  margin-bottom: 2%;
}

.pitch-detector-div {
  margin-left: 10%;
}

.results-legend {
  text-align: center;
  margin: 0 auto;
}